USE [NewRoadReady]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 15-03-2024 12:12:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[RePassword] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarListing]    Script Date: 15-03-2024 12:12:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarListing](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[Make] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Location] [nvarchar](max) NULL,
	[Specifications] [nvarchar](max) NULL,
	[DailyRate] [money] NULL,
	[AvailableFrom] [datetime] NULL,
	[AvailableTo] [datetime] NULL,
	[ImageURL] [nvarchar](max) NULL,
	[CarPlateNumber] [nvarchar](30) NULL,
	[Status] [nvarchar](20) NULL,
	[Year] [int] NULL,
	[Color] [nvarchar](20) NULL,
	[Mileage] [decimal](10, 2) NULL,
	[CarType] [nvarchar](50) NULL,
	[Transmission] [nvarchar](50) NULL,
	[MaintenanceStatus] [nvarchar](max) NULL,
	[CarCreateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 15-03-2024 12:12:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[EmailAddress] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RePassword] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Address] [nvarchar](max) NULL,
	[LicenseNumber] [nvarchar](30) NULL,
	[Role] [nvarchar](30) NOT NULL,
	[Gender] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 15-03-2024 12:12:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[CarID] [int] NULL,
	[Rating] [decimal](18, 0) NULL,
	[Review] [nvarchar](max) NULL,
	[ReviewDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 15-03-2024 12:12:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[LoginId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](30) NOT NULL,
	[CustomerID] [int] NULL,
	[AdminID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentDetails]    Script Date: 15-03-2024 12:12:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentDetails](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[CarID] [int] NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[AccountDetails] [nvarchar](max) NULL,
	[Amount] [money] NULL,
	[TransactionStatus] [nvarchar](30) NULL,
	[TransactionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 15-03-2024 12:12:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[CarID] [int] NULL,
	[PaymentID] [int] NULL,
	[PickupDateTime] [datetime] NULL,
	[DropoffDateTime] [datetime] NULL,
	[ReservationStatus] [nvarchar](50) NULL,
	[PaidAmount] [money] NULL,
	[ReservationTime] [datetime] NULL,
	[NumberOfDays] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminID], [FirstName], [LastName], [Password], [RePassword], [Email], [Address], [Role], [Gender]) VALUES (1, N'Johnny', N'Dwanyn', N'dwayne@123', N'dwayne@123', N'dwayne@example.com', N'123 Main St', N'Admin', N'Male')
INSERT [dbo].[Admin] ([AdminID], [FirstName], [LastName], [Password], [RePassword], [Email], [Address], [Role], [Gender]) VALUES (2, N'Aly', N'Smith', N'adminpass2', N'adminpass2', N'aly.smith@example.com', N'456 Oak St', N'Admin', N'Female')
INSERT [dbo].[Admin] ([AdminID], [FirstName], [LastName], [Password], [RePassword], [Email], [Address], [Role], [Gender]) VALUES (3, N'Boby', N'John', N'adminpass3', N'adminpass3', N'bobby.john@example.com', N'789 Elm St', N'Admin', N'Female')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[CarListing] ON 

SET IDENTITY_INSERT [dbo].[CarListing] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [EmailAddress], [Password], [RePassword], [PhoneNumber], [Address], [LicenseNumber], [Role], [Gender]) VALUES (1, N'John', N'Doe', N'john.doe@example.com', N'password123', N'password123', N'1234567890', N'123 Main St', N'ABC123', N'Customer', N'Male')
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [EmailAddress], [Password], [RePassword], [PhoneNumber], [Address], [LicenseNumber], [Role], [Gender]) VALUES (2, N'Alice', N'Smith', N'alice.smith@example.com', N'password456', N'password456', N'9876543210', N'456 Oak St', N'XYZ456', N'Customer', N'Male')
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [EmailAddress], [Password], [RePassword], [PhoneNumber], [Address], [LicenseNumber], [Role], [Gender]) VALUES (4, N'Emma', N'White', N'emma.white@example.com', N'pass321', N'pass321', N'3334445555', N'456 Pine St', N'LMN321', N'Customer', N'Female')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackID], [CustomerID], [CarID], [Rating], [Review], [ReviewDateTime]) VALUES (2, 7, 1, CAST(5 AS Decimal(18, 0)), N'Excellent service! The car exceeded my expectations.', CAST(N'2024-03-02T10:45:00.000' AS DateTime))
INSERT [dbo].[Feedback] ([FeedbackID], [CustomerID], [CarID], [Rating], [Review], [ReviewDateTime]) VALUES (3, 4, 7, CAST(4 AS Decimal(18, 0)), N'The car was fine but could use better maintenance.', CAST(N'2024-03-03T14:20:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Login] ON 

INSERT [dbo].[Login] ([LoginId], [Email], [Password], [Role], [CustomerID], [AdminID]) VALUES (1, N'michael.jones@example.com', N'securepwd', N'Customer', 5, NULL)
INSERT [dbo].[Login] ([LoginId], [Email], [Password], [Role], [CustomerID], [AdminID]) VALUES (2, N'emma.white@example.com', N'pass321', N'Customer', 4, NULL)
INSERT [dbo].[Login] ([LoginId], [Email], [Password], [Role], [CustomerID], [AdminID]) VALUES (5, N'john.doe@example.com', N'password123', N'Customer', 1, NULL)
SET IDENTITY_INSERT [dbo].[Login] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentDetails] ON 

INSERT [dbo].[PaymentDetails] ([PaymentID], [CustomerID], [CarID], [PaymentMethod], [AccountDetails], [Amount], [TransactionStatus], [TransactionDate]) VALUES (1, 6, 11, N'Online', N'PhonePay', 2300.0000, N'Success', CAST(N'2024-03-12T10:09:51.117' AS DateTime))
INSERT [dbo].[PaymentDetails] ([PaymentID], [CustomerID], [CarID], [PaymentMethod], [AccountDetails], [Amount], [TransactionStatus], [TransactionDate]) VALUES (2, 6, 6, N'Debit Card', N'', 1900.0000, N'Success', CAST(N'2024-03-12T10:38:45.853' AS DateTime))
INSERT [dbo].[PaymentDetails] ([PaymentID], [CustomerID], [CarID], [PaymentMethod], [AccountDetails], [Amount], [TransactionStatus], [TransactionDate]) VALUES (3, 12, 9, N'Cash', N'Paying with cash', 3200.0000, N'Success', CAST(N'2024-03-12T15:34:03.530' AS DateTime))
SET IDENTITY_INSERT [dbo].[PaymentDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservation] ON 

INSERT [dbo].[Reservation] ([ReservationID], [CustomerID], [CarID], [PaymentID], [PickupDateTime], [DropoffDateTime], [ReservationStatus], [PaidAmount], [ReservationTime], [NumberOfDays]) VALUES (13, 1, 1, NULL, CAST(N'2024-03-02T00:00:00.000' AS DateTime), CAST(N'2024-03-04T00:00:00.000' AS DateTime), N'Accepted', 0.0000, CAST(N'2024-03-09T13:45:07.010' AS DateTime), 2)
INSERT [dbo].[Reservation] ([ReservationID], [CustomerID], [CarID], [PaymentID], [PickupDateTime], [DropoffDateTime], [ReservationStatus], [PaidAmount], [ReservationTime], [NumberOfDays]) VALUES (19, 7, 1, NULL, CAST(N'2024-03-09T00:00:00.000' AS DateTime), CAST(N'2024-03-10T00:00:00.000' AS DateTime), N'Accepted', 0.0000, CAST(N'2024-03-09T18:37:06.470' AS DateTime), 1)
INSERT [dbo].[Reservation] ([ReservationID], [CustomerID], [CarID], [PaymentID], [PickupDateTime], [DropoffDateTime], [ReservationStatus], [PaidAmount], [ReservationTime], [NumberOfDays]) VALUES (22, 4, 7, NULL, CAST(N'2024-03-21T00:00:00.000' AS DateTime), CAST(N'2024-03-24T00:00:00.000' AS DateTime), N'Accepted', 0.0000, CAST(N'2024-03-09T20:38:29.757' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Reservation] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admin__A9D10534682288F0]    Script Date: 15-03-2024 12:12:03 ******/
ALTER TABLE [dbo].[Admin] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CarListi__748419D1D263F982]    Script Date: 15-03-2024 12:12:03 ******/
ALTER TABLE [dbo].[CarListing] ADD UNIQUE NONCLUSTERED 
(
	[CarPlateNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__49A147400244DE99]    Script Date: 15-03-2024 12:12:03 ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[EmailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__85FB4E3867DC405F]    Script Date: 15-03-2024 12:12:03 ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__E889016651C2D4F5]    Script Date: 15-03-2024 12:12:03 ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[LicenseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Login__A9D1053457624D57]    Script Date: 15-03-2024 12:12:03 ******/
ALTER TABLE [dbo].[Login] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CarListing] ADD  DEFAULT (getdate()) FOR [CarCreateTime]
GO
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [DF__Reservati__Reser__48EFCE0F]  DEFAULT ('Waiting') FOR [ReservationStatus]
GO
ALTER TABLE [dbo].[Reservation] ADD  DEFAULT ((0)) FOR [PaidAmount]
GO
ALTER TABLE [dbo].[Reservation] ADD  DEFAULT (getdate()) FOR [ReservationTime]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([CarID])
REFERENCES [dbo].[CarListing] ([CarID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Login]  WITH CHECK ADD FOREIGN KEY([AdminID])
REFERENCES [dbo].[Admin] ([AdminID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Login]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentDetails]  WITH CHECK ADD FOREIGN KEY([CarID])
REFERENCES [dbo].[CarListing] ([CarID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentDetails]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD FOREIGN KEY([CarID])
REFERENCES [dbo].[CarListing] ([CarID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD FOREIGN KEY([PaymentID])
REFERENCES [dbo].[PaymentDetails] ([PaymentID])
GO
ALTER TABLE [dbo].[CarListing]  WITH CHECK ADD CHECK  (([CarType]='Manual' OR [CarType]='Automatic'))
GO
ALTER TABLE [dbo].[CarListing]  WITH CHECK ADD CHECK  (([Status]='Not Available' OR [Status]='Available'))
GO
ALTER TABLE [dbo].[CarListing]  WITH CHECK ADD CHECK  (([Transmission]='Hybrid' OR [Transmission]='Diesel' OR [Transmission]='Petrol' OR [Transmission]='Electric'))
GO
ALTER TABLE [dbo].[PaymentDetails]  WITH CHECK ADD CHECK  (([PaymentMethod]='Online' OR [PaymentMethod]='Cash' OR [PaymentMethod]='Debit Card' OR [PaymentMethod]='Credit Card'))
GO
ALTER TABLE [dbo].[PaymentDetails]  WITH CHECK ADD CHECK  (([TransactionStatus]='Pending' OR [TransactionStatus]='Failed' OR [TransactionStatus]='Success'))
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [CK__Reservati__Reser__49E3F248] CHECK  (([ReservationStatus]='Rejected' OR [ReservationStatus]='Accepted' OR [ReservationStatus]='Waiting'))
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [CK__Reservati__Reser__49E3F248]
GO
/****** Object:  Trigger [dbo].[trg_Admin_Insert]    Script Date: 15-03-2024 12:12:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Admin_Insert]
ON [dbo].[Admin]
AFTER INSERT
AS
BEGIN
    INSERT INTO Login (Email, Password, Role,AdminID)
    SELECT Email, Password, Role,AdminID
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[Admin] ENABLE TRIGGER [trg_Admin_Insert]
GO
/****** Object:  Trigger [dbo].[UpdateLoginInfoOfAdmin]    Script Date: 15-03-2024 12:12:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UpdateLoginInfoOfAdmin]
ON [dbo].[Admin]
AFTER UPDATE
AS
BEGIN
    IF UPDATE(Email) OR UPDATE(Password)
    BEGIN
        UPDATE Login
        SET Email = (SELECT Email FROM inserted),
            Password = (SELECT Password FROM inserted)
        FROM Login
        INNER JOIN inserted ON Login.AdminID = inserted.AdminID
		;
    END
END;
GO
ALTER TABLE [dbo].[Admin] ENABLE TRIGGER [UpdateLoginInfoOfAdmin]
GO
/****** Object:  Trigger [dbo].[trg_Customer_Insert]    Script Date: 15-03-2024 12:12:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Customer_Insert]
ON [dbo].[Customer]
AFTER INSERT
AS
BEGIN
    INSERT INTO Login (Email, Password, Role,CustomerID)
    SELECT EmailAddress, Password, Role,CustomerID
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[Customer] ENABLE TRIGGER [trg_Customer_Insert]
GO
/****** Object:  Trigger [dbo].[UpdateLoginInfo]    Script Date: 15-03-2024 12:12:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UpdateLoginInfo]
ON [dbo].[Customer]
AFTER UPDATE
AS
BEGIN
    IF UPDATE(EmailAddress) OR UPDATE(Password)
    BEGIN
        UPDATE Login
        SET Email = (SELECT EmailAddress FROM inserted),
            Password = (SELECT Password FROM inserted)
        FROM Login
        INNER JOIN inserted ON Login.CustomerID = inserted.CustomerID;
    END
END;
GO
ALTER TABLE [dbo].[Customer] ENABLE TRIGGER [UpdateLoginInfo]
GO
/****** Object:  Trigger [dbo].[UpdateAdminPassword]    Script Date: 15-03-2024 12:12:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[UpdateAdminPassword]
ON [dbo].[Login]
AFTER UPDATE
AS
BEGIN
    -- Check if the Password field was updated and if the update is not due to recursion
    IF (UPDATE(Password) AND NOT (SELECT DELETED.Password FROM deleted) = (SELECT INSERTED.Password FROM inserted))
    BEGIN
        -- Update the Customer table with the new password
        UPDATE C
        SET Password = I.Password,
            RePassword = I.Password
        FROM Admin C
        INNER JOIN inserted I ON C.AdminID = I.AdminID;
    END
END;
GO
ALTER TABLE [dbo].[Login] ENABLE TRIGGER [UpdateAdminPassword]
GO
/****** Object:  Trigger [dbo].[UpdateCustomerPassword]    Script Date: 15-03-2024 12:12:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [dbo].[UpdateCustomerPassword]
ON [dbo].[Login]
AFTER UPDATE
AS
BEGIN
    -- Check if the Password field was updated and if the update is not due to recursion
    IF (UPDATE(Password) AND NOT (SELECT DELETED.Password FROM deleted) = (SELECT INSERTED.Password FROM inserted))
    BEGIN
        -- Update the Customer table with the new password
        UPDATE C
        SET Password = I.Password,
            RePassword = I.Password
        FROM Customer C
        INNER JOIN inserted I ON C.CustomerID = I.CustomerID;
    END
END;
GO
ALTER TABLE [dbo].[Login] ENABLE TRIGGER [UpdateCustomerPassword]
GO
/****** Object:  Trigger [dbo].[UpdateReservationAfterPaymentInsert]    Script Date: 15-03-2024 12:12:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UpdateReservationAfterPaymentInsert]
ON [dbo].[PaymentDetails]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    -- Update Reservation table with PaymentID and Amount for corresponding CarID and CustomerID
    UPDATE r
    SET r.PaymentID = i.PaymentID,
        r.PaidAmount = i.Amount
    FROM Reservation r
    INNER JOIN inserted i ON r.CarID = i.CarID AND r.CustomerID = i.CustomerID;
END;
GO
ALTER TABLE [dbo].[PaymentDetails] ENABLE TRIGGER [UpdateReservationAfterPaymentInsert]
GO
