<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">


<div class="album py-5 bg-body-tertiary" style="font-family: 'Roboto', sans-serif;">
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <div class="d-flex align-items-center">
          <div class="dropdown me-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="sortMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter<i class="fa-solid fa-filter"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="sortMenuButton">
              <a class="dropdown-item"  (click)="setSortCriteria('DailyRate')">
                Daily Rate
              </a>
              <a class="dropdown-item"  (click)="setSortCriteria('Mileage')">
                Mileage
              </a>
              <a class="dropdown-item"  (click)="setSortCriteria('Year')">
                Year
              </a>
            </div>
          </div>
          <button class="btn btn-secondary" (click)="toggleSortDirection()">
            <i class="fa" [ngClass]="{'fa-sort-up': sortDirection === 'asc', 'fa-sort-down': sortDirection === 'desc'}"></i>
          </button>
          
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let car of cars">
        <div class="card h-100 shadow-sm">
          <img [src]="car.ImageUrl.startsWith('https') ? car.ImageUrl : car.processedImg" alt="Car image" class="card-img-top car-image">
          <div class="card-body">
            <h5 class="card-title text-bg-dark car-make-model"><b>{{ car.Make }} {{ car.Model }}</b></h5>
            <div class="row mb-2">
              <div class="col-6">
                <p class="card-text mt-3"><b>Daily Rate:</b> {{ car.DailyRate | currency }}</p>
              </div>
              <div class="col-6">
                <p class="card-text mt-3"><b>Mileage:</b> {{ car.Mileage }} kmpl</p>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <p class="card-text"><b>Status:</b> {{ car.Status }}</p>
              </div>
              <div class="col-6">
                <p class="card-text"><b>Year:</b> {{ car.Year }}</p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-3">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/customer/book', car.CarId]">
                  <i class="fa-solid fa-car"></i> View Details
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
