<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<style>
    .car-image {
        height: 200px;
        object-fit: cover;
    }
</style>

<div class="container mt-4">
    <h2 class="mb-4 p-2 bg-dark text-white rounded text-center animated-heading">All Bookings</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let booking of bookings; let i = index">
            <div class="card h-100 shadow-sm">
                <div class="card-header bg-dark text-white">
                    <h3 class="card-title mb-0 text-center">{{ booking.CustomerName }}</h3>
                    <h6 class="card-subtitle text-muted">Booking ID: {{ booking.ReservationID }}</h6>
                </div>
                <img [src]="booking.processedImage" alt="Car image" class="card-img-top car-image">
                <div class="card-body">
                    <h5 class="card-title text-bg-dark car-make-model"><b>{{ booking.CarMake }} {{ booking.CarModel }}</b></h5>
                    <p class="card-text"><b>Email:</b> {{ booking.CustomerEmail }}</p>
                    <p class="card-text"><b>Phone Number:</b> {{ booking.CustomerPhoneNumber }}</p>
                    <p class="card-text"><b>Address:</b> {{ booking.CustomerAddress }}</p>
                    <p class="card-text"><b>Pickup Date:</b> {{ booking.PickupDateTime | date:'dd-MM-yyyy' }}</p>
                    <p class="card-text"><b>Drop-off Date:</b> {{ booking.DropoffDateTime | date:'dd-MM-yyyy' }}</p>
                </div>
                <div class="card-footer d-flex justify-content-between bg-dark">
                    <div>
                        <button *ngIf="booking.ReservationStatus === 'Accepted'" class="btn btn-success btn-sm" disabled>Accepted</button>
                        <button *ngIf="booking.ReservationStatus !== 'Accepted'" class="btn btn-primary btn-sm" (click)="acceptReservation(booking)">Accept</button>&nbsp;
                        <button *ngIf="booking.ReservationStatus !== 'Accepted'" class="btn btn-danger btn-sm" (click)="rejectReservation(booking.ReservationID)">
                            <i class="fas fa-times"></i> Reject
                        </button>
                    </div>
                    <button *ngIf="booking.ReservationStatus === 'Accepted'" class="btn btn-danger btn-sm" (click)="rejectReservation(booking.ReservationID)">
                        <i class="fas fa-times"></i> Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
