<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<style>
  .user-image {
    width: 50px;
    height: 50px;
  }

  .customer-card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .customer-card .card-body {
    display: flex;
    align-items: center;
  }

  .customer-info {
    margin-left: 15px;
  }

  .card-footer {
    margin-top: auto;
  }
</style>

<div class="container mt-4">
  <h2 class="mb-4 p-2 bg-dark text-white rounded text-center animated-heading">All Customers</h2>
  <div class="row justify-content-center">
    <div class="col-lg-6 mb-3" *ngFor="let customer of customers; let i = index">
      <div class="card customer-card shadow-sm">
        <div class="card-body">
          <img [src]="customer.Gender === 'Male' ? '../../../../../../assets/UserImage.png' : '../../../../../../assets/FemaleUserImage.png'" alt="User image" class="rounded-circle user-image">
          <div class="customer-info">
            <h5 class="card-title text-bg-dark car-make-model"><b>{{ customer.FirstName }} {{ customer.LastName }}</b></h5>
            <p class="card-text"><strong>Email:</strong> {{ customer.EmailAddress }}</p>
            <p class="card-text"><strong>Phone Number:</strong> {{ customer.PhoneNumber }}</p>
            <p class="card-text"><strong>Address:</strong> {{ customer.Address }}</p>
            <p class="card-text"><strong>License Number:</strong> {{ customer.LicenseNumber }}</p>
            <p class="card-text"><strong>Role:</strong> {{ customer.Role }}</p>
            <p class="card-text"><strong>Gender:</strong> {{ customer.Gender }}</p>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <button class="btn btn-sm btn-danger" (click)="deleteCustomer(customer.CustomerId)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
